/* font imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* root color and font styles */
:root {
    --font-sans: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
    --gray-1: #F8F9FA;
    --gray-2: #E0E0E1;
    --gray-3: #9199A1;
    --gray-5: #0F1215;
    --red-3: #C32327;
    --blue-3: #0D21A1;
    --blue-2: #5585E9;
    --blue-4: #000063;
    --green-3: #139F38;
    --green-4: #02651D;
    --yellow-1: #FFF0A7;
    --text-color: var(--gray-5);
    --bg-color: var(--gray-1);
    --accent-color: var(--green-3);
    --accent-color-dark: var(--green-4);
}

/* general styles */
body {
    font-family: var(--font-sans);
    background: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: var(--font-mono);
    color: var(--text-color);
}

a {
    color: var(--blue-3);
    text-decoration: none;
    border-bottom: 1px solid var(--blue-3);
    cursor: pointer !important;
}

header {
    background-color: var(--yellow-1);
}

a:hover {
    color: var(--blue-2);
    border-bottom: 1px solid var(--blue-2);
}

#banner {
    border-top: 16px solid var(--accent-color-dark);
    font-size: 1.2em;
    line-height: 1.5;
}

/* utility classes */
.mono {
    font-family: var(--font-mono);
}

.bg-accent {
    background: var(--accent-color);
}

.bg-yellow-1 {
    background: var(--yellow-1);
}

.text-accent {
    color: var(--accent-color);
}

.text-light {
    color: var(--bg-color) !important;
}

.pagination-hidden {
    display: none;
}

/* custom button & link styles */
.btn-custom {
    border: none;
    background: var(--accent-color);
    color: var(--bg-color);
}

.btn-custom-dark {
    background: var(--accent-color-dark);
}

.btn-custom-dark:hover {
    opacity: 0.85;
}

.btn-custom:hover {
    color: var(--bg-color);
    background: var(--accent-color-dark);
}

.link-custom {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
}

.link-custom:hover {
    color: var(--accent-color-dark);
    border-bottom: 1px solid var(--accent-color-dark);
}


/* form page */
.mb-3.required .form-label:after {
   color: var(--red-3);
   content: " *";
}

/* card styles */
.card {
    cursor: pointer;
    transition: 0.2s box-shadow ease;
}

.card:hover {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}

.card .card-title {
    margin-bottom: 0;
    cursor: pointer;
}

.card .card-title a {
    text-decoration: none;
    color: initial;
    border-bottom: none;
}

.card .card-topic {
    background: var(--yellow-1);
    font-family: var(--font-mono);
    font-weight: 600;
    font-size: 0.85em;
    width: fit-content;
    padding: 2px 10px;
    margin-right: 5px;
    display: inline-flex;
    cursor: pointer !important;
}

.card .card-topic:hover {
    background: #FFE14D;
}

.card .card-link {
    transition: 0.3s all ease;
    opacity: 0.5;
}

.card .card-link::before {
    transition: 0.3s all ease;
    line-height: inherit;
}

.card:hover .card-link {
    opacity: 1;
    margin-left: 2px;
}

.card:hover .card-link::before {
    transform: translateX(2px);
}

.card .email-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    border: none;
}

.card .email-link:hover {
    color: var(--blue-3);
    border: none;
}

.card .card-type, .card .card-category *, .card .card-topic {
    z-index: 2;
    position: relative;
}

.card .card-type {
    cursor: pointer;
    font-size: 0.65em;
    text-transform: capitalize;
    font-size: 0.7em;
    width: fit-content;
    padding: 2px 10px;
    font-weight: 600;
    color: var(--blue-4);
    background: var(--bg-color);
    align-self: center;
    display: flex;
    align-items: center;
}

.card .card-type i.bi {
    display: none;
    margin-right: 3px;
}
.card .card-type i.bi::before {
    vertical-align: middle;
    line-height: inherit;
}

.card .card-type:hover {
    opacity: 0.8;
}

.card .card-type:hover i.bi {
    display: initial;
}

.card .card-category {
    cursor: auto;
}

.card .card-category > * {
    color: #343A40;  /* dark gray */
}

.card .card-category i.bi::before {
    vertical-align: middle;
    line-height: inherit;
}

.card .card-category .card-notes {
    line-height: 1.4;
    color: var(--text-color);
}

.inactive {
    background-color: var(--gray-2);
    pointer-events: none;
    cursor: default;
}

/* search */
#no-results {
    opacity: 0.75;
    max-width: 500px;
    align-items: center;
    margin: auto;
}

#clear-btn {    
    z-index: 100;
    opacity: 0.4;
    background: transparent;
    border-left: none;
    margin-left: -1.75rem;
    margin-top: -0.25rem;
    cursor: pointer;
}

#search-input:focus + #clear-btn {
    opacity: 0.7;
}

/* images */
#headshot {
    max-width: 75px;
}

#graphic {
    min-width: 200px;
}


/* pagination */
#pagination li a {
    cursor: pointer;
}

#pagination .page-link, .page-link:hover {
    color: var(--accent-color-dark);
}

#pagination .page-item.active .page-link {
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--bg-color);
}

#pagination .page-item.disabled .page-link {
    color: var(--gray-3);
}

/* media queries */
@media (min-width: 1200px) {
    .container-narrow {
        max-width: 970px;
    }
}

@media (min-width: 768px) {
    aside.border-top {
        border-top: none !important;
    }

    aside {
        height: 100%;
        min-height: 200px;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
    }
}

@media (max-width: 768px) {
    header h4 {
        text-align: center;
    }
    header #banner {
        font-size: 1em;
    }
    #graphic {
        margin: auto;
        display: flex;
    }
}