{% extends "base.html" %}

{% block content %}
<div class="col-xl-9 col-lg-8 order-lg-1 mb-5 py-2 align-items-center">
    <h1 class="text-center">404: Page Not Found</h1>
    <div class="d-grid my-5">
        <button class="btn btn-large btn-success ">Go Home</button>
    </div>
    <div class="container d-block d-md-flex justify-content-between align-items-center p-md-4 p-3 py-4">
        <div class="col-8 offset-3">
            <img src="img/page_not_found.png" id="graphic" class="w-100" alt="illustration">
        </div>
    </div>
</div>

{% endblock %}