{% extends "base.html" %}

{% block head %}
<script src="/js/form.js"></script>
{% endblock %}

{% block content %}
    <div class="col-lg-9 order-lg-1 mb-5">
                

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Suggest a resource</span>
            <a class="link fs-6 mx-4 link-custom" href="index.html">Return home</a>
        </h4>                
        <form class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username">What publisher(s) do you know of that are not currently listed?</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                    <div class="invalid-feedback w-100">
                    Your username is required.
                    </div>
                </div>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">Publishers listed pay for all content</label>
            </div>      
            <div class="mb-3">
                <label for="username">Additional details</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                    <div class="invalid-feedback w-100">
                    Your username is required.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="username">Suggestions or comments about the website</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                    <div class="invalid-feedback w-100">
                    Your username is required.
                    </div>
                </div>
            </div>

            <button class="btn btn-custom btn-block" type="submit">Submit</button>
        </form>

    </div>
{% endblock %}