{% extends "base.html" %}

{% block head %}
<script src="/js/index.js"></script>
{% endblock %}

{% block content %}
<!-- 
<section class="w-100 p-0 bg-accent text-white" style="border-top: 16px solid var(--accent-color-dark)">
    <div class="container py-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start" >
        <p class="fs-5 flex-fill col-md-8 ">            
            A curated collection of active publishers, publications, and agencies that pay fair rates for high-quality technical content. 
        </p>
        <div class="flex-fill">
            <button style="background: var(--accent-color-dark)" type="button" class="btn btn-custom float-end text-nowrap text-light" onclick="window.location.href='form.html'">
                Suggest a resource
            </button>
        </div>
    </div>
</section> -->

<div class="col-lg-9 order-lg-1">

        
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                
                <li class="page-item" id="pagination-next-btn">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>
                <span id="resource-count">Loading resources...</span>
            </span>
            <a class="link fs-6 mx-4 link-custom" href="form.html">Suggest a resource</a>
        </h4>
        <form class="g-2 align-items-center my-2 row">
            <div class="col-lg-12 col-xl-6">
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control" id="search-input" placeholder="Search by resource name or topic">
                    <div id="clear-btn">
                        <i class="bi bi-x-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="input-group">
                    <div class="input-group-text">Type</div>
                    <select class="form-select" id="type-input">
                        <option selected value="everything">All resources</option>
                        <option value="publication">Publications</option>
                        <option value="agency">Agencies</option>
                        <option value="publisher">Publishers</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="input-group">
                    <div class="input-group-text">Sort by</div>
                    <select class="form-select" id="sort-input">
                        <option selected value="alpha">A-Z</option>
                        <option value="rate_increasing">Rate (low to high)</option>
                        <option value="rate_decreasing">Rate (high to low)</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="my-4 mb-5">
        <div id="cards-container"></div>
        <div id="no-results" class="d-none o-8 text-black-50 py-4 text-center">
            <h5>
                Oops, no results found... try a less restrictive search or filter.
            </h5>
            
        </div>
    </div>
      
</div>

{% endblock %}