{% extends "base.html" %}

{% block head %}
<script src="/js/index.js"></script>
{% endblock %}

{% block content %}
<!-- 
<section class="w-100 p-0 bg-accent text-white" style="border-top: 16px solid var(--accent-color-dark)">
    <div class="container py-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start" >
        <p class="fs-5 flex-fill col-md-8 ">            
            A very partial and incomplete list of sites known to pay for technical tutorials and other articles of interest to software developers.
        </p>
        <div class="flex-fill">
            <button style="background: var(--accent-color-dark)" type="button" class="btn btn-custom float-end text-nowrap text-light" onclick="window.location.href='form.html'">
                Suggest a resource
            </button>
        </div>
    </div>
</section> -->

<div class="col-lg-9 order-lg-1">
        
    <div class="">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Displaying 49 publications</span>
            <a class="link fs-6 mx-4 link-custom" style="cursor: pointer" href="form.html">Suggest a resource</a>
        </h4>
        
        <form class="row g-2 align-items-center my-3">
            <div class="col-md-8">
                <div class="input-group col-md-5">
                    <input type="text" class="form-control" placeholder="Filter by publication, agency, or topic">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group col-md-3">
                    <div class="input-group-text">Sort by</div>
                    <select class="form-select" id="inlineFormSelectPref">
                        <option selected>A-Z</option>
                        <option value="1">Rate (low to high)</option>
                        <option value="2">Rate (high to low)</option>
                    </select>
                </div>
            </div>
        </form>
    </div>


    <div class="my-4 mb-5">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">PaperSpace</h5>
                <p class="card-text">
                    <span class="fw-bold">$300 - $400</span> for first article
                </p>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">PaperSpace</h5>
                <p class="card-text">
                    <span class="fw-bold">$300 - $400</span> for first article
                </p>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">PaperSpace</h5>
                <p class="card-text">
                    <span class="fw-bold">$300 - $400</span> for first article
                </p>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">PaperSpace</h5>
                <p class="card-text">
                    <span class="fw-bold">$300 - $400</span> for first article
                </p>
            </div>
        </div>
    </div>
      
</div>

{% endblock %}