{% extends "base.html" %}

{% block head %}
<script src="/js/index.js"></script>
{% endblock %}

{% block banner %}

<section class="w-100 bg-accent text-white p-4 p-md-0 py-2" id="banner">
    <div class="container py-4 d-block d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-start" >
        <span class="flex-fill col-md-8 ">            
            A curated collection of active publishers, publications, and agencies that pay fair rates for high-quality technical content. 
        </span>
        <div class="flex-fill mt-md-0 mt-3">
            <button type="button" class="btn btn-custom float-md-end float-none btn-custom-dark text-nowrap text-light" onclick="window.location.href='form.html'">
                Suggest a resource
            </button>
        </div>
    </div>
</section>

{% endblock %}


{% block content %}

<div class="col-lg-9 order-lg-1">

    <div>
        <h4 class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
            <span class=" my-md-0 my-3 pe-3">
                <span id="resource-count">Loading resources...</span>
            </span>
            <a class="link fs-6 link-custom my-md-0 my-3" href="form.html">Suggest a resource</a>
        </h4>
        <form class="g-2 align-items-center my-2 row">
            <div class="col-lg-12 col-xl-6">
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control" id="search-input" placeholder="Search by resource name or topic">
                    <div id="clear-btn">
                        <i class="bi bi-x-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="input-group">
                    <div class="input-group-text">Type</div>
                    <select class="form-select" id="type-input">
                        <option selected value="everything">All resources</option>
                        <option value="publication">Publications</option>
                        <option value="agency">Agencies</option>
                        <option value="publisher">Publishers</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="input-group">
                    <div class="input-group-text">Sort by</div>
                    <select class="form-select" id="sort-input">
                        <option selected value="alpha">A-Z</option>
                        <option value="rate_increasing">Rate (low to high)</option>
                        <option value="rate_decreasing">Rate (high to low)</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="my-4 mb-5">
        <div id="cards-container"></div>
        <div id="no-results" class="d-none d-flex w-100" id="no-results">
            <img class="p-3" src="../img/no_results.svg" alt="No results found">
            <div class="p-3">
                <h5>Oops, no results found...</h5> 
                <h6>Try a different search keyword or filter.</h6>
            </div>
        </div>
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-end" id="pagination">
                <li class="page-item" id="pagination-prev-btn">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                
                <li class="page-item" id="pagination-next-btn">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
      
</div>

{% endblock %}