{% extends "base.html" %}

{% block head %}
<script src="/js/index.js"></script>
{% endblock %}

{% block banner %}

<section class="w-100 bg-accent text-white p-4 p-md-0 py-2" id="banner">
    <div class="container py-4 d-block d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-start">
        <span class="flex-fill col-md-8 ">
            A curated collection of active publishers, publications, and agencies that pay fair rates for high-quality
            technical content.
        </span>
        <div class="flex-fill mt-md-0 mt-3">
            <a type="button" class="btn btn-custom float-md-end float-none btn-custom-dark text-nowrap text-light"
                href="/">
                Home
            </a>
        </div>
    </div>
</section>

{% endblock %}


{% block content %}
<div class="col-xl-9 col-lg-8 order-lg-1">
    <div class="col-lg-9">
    <h1>Sponsor Who Pays Technical Writers</h1>

    <p>Thank you for your interest in sponsoring Who Pays Technical Writers!</p>

    <h3>Sponsorship package</h3>

    <p>Currently, we offer a single package, a monthly exclusive sponsorship. This can be used to advertise a job listing, event, product, or anything else of interest to tech writers worldwide.</p>

    <p>Sponsorship includes:</p>

    <ul>
        <li>One image, 2x1 aspect ratio, on the right sidebar of the site (below the main content on mobile). This image is a clickable link.</li>
        <li>One text blurb directly below the image with up to one link, 280 characters max (the length of a tweet).</li>
        <li>Both your image and blurb included in one monthly email newsletter (a new initiative).</li>
        <li>A permanent backlink from the sponsor gallery on this page.</li>
    </ul>

    <h3>Metrics</h3>

    <p>Who Pays Technical Writers averages <b>over 2,300 monthly page views</b> from <b>over 1,750 unique visitors</b> (stats from June 2022 to June 2023).</p>
    <p>Visitors' average time on site is almost five minutes.</p>

    <p>You can verify these analytics for yourself <a href="https://app.usefathom.com/share/laubzbzc/whopaystechnicalwriters.com">here</a>.</p>

    <h3>Availability & Cost</h3>

    <p>A monthly exclusive sponsorship currently costs $85.</p>

    <p>Sponsorships are accepted up to 3 months in advance, with payment due on booking. Current availability:</p>

    <ul>
        <li>July 2023: Available</li>
        <li>August 2023: Available</li>
        <li>September 2023: Available</li>
    </ul>

    <p>To book a sponsorship, please email <a href="mailto:philip@kiely.xyz">philip@kiely.xyz</a>.</p>
    </div>
</div>

{% endblock %}